<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SafePass</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script type ="module" defer src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="sidebar">
        <h2>SafePass</h2>
        <ul>
          <li>
            <a href="http://localhost:8080/"><i class="fas fa-home"></i>Home</a>
          </li>
          <li>
            <a href="http://localhost:8080/createPass"><i class="fas fa-create-a-password"></i>Create a password</a>
          </li>
          <li>
            <a href="http://localhost:8080/passwords"><i class="fas fa-passwords"></i>Passwords</a>
          </li>
          <li>
            <a href="http://localhost:8080/users"><i class="fas fa-users"></i>Users</a>
          </li>
          <li>
            <a href="http://localhost:8080/about_us"><i class="fas fa-about-us"></i>About us</a>
          </li>
        </ul>
      </div>
      </div>


      <header class="header">
        <h2>Passwords</h2>
        <% if (data.currentuser === "1"){ %>
          <div class="header__user">test123<p>LHL</p>
          </div>
          <img src="https://yt3.googleusercontent.com/5BTJiYa_VE9EPuXAKW88E35EOaY2tcc608iQnjgVpZ-N1dfcufexwmjqtSXWbdnQ6yDOtER7=s900-c-k-c0x00ffffff-no-rj" alt="">
          <% } else { %>
            <div class="header__user">user 3<p>EA</p>
            </div>
            <img src="https://avatars.akamai.steamstatic.com/618cc2a46fad78ed1259df505c2de5bb4d806532_full.jpg" alt="">
            <% } %>
            <button class="header__button-enter">Logout</button>

      </header>


        <div class="info">

          <h1></h1>
          <div class="passwords">
          <ul>
          <% for (let url_name of data) { %>
            <li>
              <form action="/passwords/update/<%= url_name.id %>" method="POST">
                <label>UserName: </label>
                <input type="text" name="username" value="<%= url_name.username %>" required>

                <label>URL: </label>
                <input type="text" name="URL" value="<%= url_name.url %>" required>

                <label>Password: </label>
                <input type="text" name="password" value="<%= url_name.password %>" required>

                <label>Category: </label>
                <select name="category">
                  <!-- <option value ="<%= url_name.category %>"><%= url_name.category %></option> -->
                  <option value="" >Select a category (optional)</option>
                  <option value="social" <%= url_name.category === 'social' ? 'selected' : "" %>>Social</option>
                  <option value="work" <%= url_name.category === 'work' ? 'selected' : "" %>>Work</option>
                  <option value="entertainment" <%= url_name.category === 'entertainment' ? 'selected' : "" %>>Entertainment</option>
                  <option value="shopping" <%= url_name.category === 'shopping' ? 'selected' : "" %>>Shopping</option>
                </select>
                <button type="submit" id="updateBtn">Update</button>
              </form>
              <form action="/passwords/delete/<%= url_name.id %>" method="POST">
                <button type="submit" class="deleteBtn">Delete</button>
              </form>
              <div id="update" class="update">Success Update!</div>
              <br>
            </li>
          <% } %>
        </ul>
        </div>
      </div>
</div>
  </body>
</html>

